<form action="<%= friendships_url %>" method="post">
    <input type="submit" name="button" value="Add Friend">
    <input type="hidden" name="friendships[in_friend_id]" value="<%= user.id %>">
</form>



<!-- <script>

<button class="friend" data="<%= user.id %>">Add Friend</button>

//   $(".friend").on("submit", function(event) {
//       event.preventDefault();
//     
//       var formData = $(this).serialize();
//     
//       $.ajax({
//         url: "/friendships",
//         type: "POST",
//         data: formData,
//         success: function(data) {
//           console.log(data);
//         }
//       });
//     }
//   );
// </script>
-->